In [7]:
# Questions on String
# Lets take the following string
# "I am very keen in building up my career in Data Science, but not sure from where to start. 
# If I search the web it throws me thousands of articles, few are relevant others make me confused, 
# again I come around to the same page. Supervised has provided me a good platform to remove 
# all such qualms which were wrangling in my mind"

S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
print("Length of S = ",len(S))

Length of S =  327

In [80]:
#Consider the above text as a string, figure out the average length of the string.
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
words = S.split()
sum(map(len, words))/len(words)

4.2063492063492065

In [34]:
#Lower the text in the string.
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
S.lower()

'i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [41]:
#Try to get the clean text removing the punctuation from the string.
import string
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
S.translate(str.maketrans('', '', string.punctuation))

'I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [124]:
#Extract word "Data Science" from the string.
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
re.findall("Data Science", s)

['Data Science']

In [115]:
#Find the frequency of words used in the string
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

wordlist = S.split()

wordfreq = []
for w in wordlist:
    wordfreq.append(wordlist.count(w))

print("String\n" + S +"\n")
print("List\n" + str(S) + "\n")
print("Frequencies\n" + str(wordfreq) + "\n")

String
I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

List
I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

Frequencies
[3, 1, 1, 1, 3, 1, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1]

In [84]:
#Can you change the word "Supervised" to "Unsupervised" in the string
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
S.replace("Supervised", "Unsupervised")

'I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [85]:
#Splitting of the string with a dot operator(.)
S = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
S.split('.')

['I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [111]:
#Find the words from the string which ends with "e"
s = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
s.endswith('e')

False

In [113]:
#Figure out number of a's used in the string.
s = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
s.count('a')

22

#Questions on Dictionary
#In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.
#Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.
Dict = {'apple':'250','sugar':'500','rice':'2500','milk':'2500','egg':'1'}
print(Dict)

In [34]:
print(Dict['apple'])

250

In [6]:
#I forgot to mention another item, 1kg of atta packet. Can you also add it ?
Dict.__setitem__('atta','1kg')
print(Dict)

{'apple': '250g', 'sugar': '500g', 'rice': '2.5kg', 'milk': '2.5l', 'egg': '1d', 'atta': '1kg'}

In [26]:
#Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?
Dict.update(rice = '1kg')
print(Dict)

{'apple': '0.25', 'sugar': '0.5', 'rice': '1kg', 'milk': '2.5', 'egg': '1'}

In [37]:
#Can you list out all these items using a loop.
for items in Dict: 
    print(items)

apple
sugar
rice
milk
egg

In [53]:
#However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.
#Create another dictionary for pricing.
Price = {'apple':220,'sugar':43,'rice':45,'milk':30,'egg':60}
print(Price)

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60}

In [55]:
sum(int(Price[x])*float(Items[x]) for x in Items)

256.5

In [51]:
Dict1 = {'apple':0.25,'sugar':0.5,'rice':1,'milk':2.5,'egg':1}
print(Dict1)

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'milk': 2.5, 'egg': 1}

In [58]:
#Questions on Lists
AI_Companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']
#Sort the list in ascending order
AI_Companies.sort()
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [60]:
#Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list
AI_Companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

In [61]:
AI_Companies.sort()
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance',
 'SenseTime']

In [74]:
#Lower the list using List comprehension
AI_Companies.sort(reverse = True)
print(AI_Companies)

['SenseTime', 'Qualcomm', 'OpenAI', 'Nvidia', 'Microsoft', 'HiSilicon', 'Google', 'Facebook', 'Apple', 'Amazon']

In [64]:
#Elimiate 'Reliance' from the list
AI_Companies.remove('Reliance')
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'SenseTime']

In [81]:
#Extract 'Facebook', 'Google' and 'Microsoft' using a single command
AI_Companies

['SenseTime',
 'Qualcomm',
 'OpenAI',
 'Nvidia',
 'Microsoft',
 'HiSilicon',
 'Google',
 'Facebook',
 'Apple',
 'Amazon']

In [82]:
D_1 = {c:c*4 for c in [1,2,3,4]}
D_1

{1: 4, 2: 8, 3: 12, 4: 16}

In [93]:
#Questions on Tuple
#(a)Consider the above standard price problem statement and place the prices in the form of the tuple.
my_price = ("220", "43", "45", "30", "60")
print (my_price)

('220', '43', '45', '30', '60')

In [94]:
#(b)Find out the min and max price among them.
min(my_price)

'220'

In [95]:
max(my_price)

'60'

In [90]:
#(c)Also, convert the above "AI_companies" list to a tuple.
my_company = ("Amazon", "Facebook", "Nvidia", "Google", "Apple", "Microsoft", "Qualcomm")
print (my_company)

('Amazon', 'Facebook', 'Nvidia', 'Google', 'Apple', 'Microsoft', 'Qualcomm')

In [91]:
min (my_company)

'Amazon'

In [92]:
max (my_company)

'Qualcomm'

In [96]:
#(d)Combine two above tuples to a single tuple.
my_price + my_company

('220',
 '43',
 '45',
 '30',
 '60',
 'Amazon',
 'Facebook',
 'Nvidia',
 'Google',
 'Apple',
 'Microsoft',
 'Qualcomm')

In [97]:
#(e)Compare the length of two tuples.
len (my_price)

5

In [98]:
len (my_company)

7

In [99]:
#(e)Compare the length of two tuples.
a = my_price
b = my_company
if (a>b):print("a is bigger")
else: print ("b is bigger")

b is bigger